AWS_DEFAULT_REGION='us-east-2'
AWS_BUCKET='de-october-individual-folders'
AWS_PROFILE='default'
AWS_CSV_KEY='nppes/nppes_cleaned.parquet'
API_URL='https://baconipsum.com/api/?type=all-meat-and-filler&start-with-lorem=1'
